@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Buda:wght@300&family=Contrail+One&family=Marmelad&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html { 
  font-size: 18px;
  font-family: marmelad, sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: marmelad, sans-serif;
  background-color: rgba(255, 255, 255, 0.993);
}

.layout {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header" 
    "main" 
    "footer";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header { 
  grid-area: header;
}

.main {
  grid-area: main; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

#contenedorUno {
  list-style: none;
  margin: 8px;
  border-radius: 55px;
  background-color: rgba(27, 86, 114, 0.877);
  border: 2px double black;
  text-align: center;
}

.nav ul{
  justify-content: center;
}

.nav a {
  display: flex;
  text-decoration: none;
  color: rgb(14, 8, 107); 
  font-size: 1rem;
  transition: color 0.3s ease; 
}

.nav a:hover {
  color: #ebeef0; 
}

#banner {
  background-image: url('imagenesDiver/divingBanner.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: 5px;
  margin-bottom: 50px;
}

#banner h2, 
#banner h5 {
  margin: 0;
}

.container {
  padding-top: 30px;
  height: 100%;
}
.card {
  width: 100px;
  height: 300px;
  padding-top: 5px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 3px;
}
.card img{
  padding: 5px;
  height: 150px;
  width: 150px;
}

.main .card-body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 6px; 
  text-align: center;
  
}
.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(27, 86, 114, 0.877);
  border-radius: 20px;
}

.productos-container .card {
  flex: 1 1 calc(33.33% - 1rem); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: rgba(27, 86, 114, 0.877);
  transition: transform 0.3s;
  margin: 1rem;
}

.productos-container .card:hover {
  transform: scale(1.05);
}

.productos-container .card img {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}


#bannerContacto{
  background-image: url('imagenesDiver/divingBanner.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  border-radius: 5px;


}
.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 25px 0px 30px 0px;
  display: flex;
  flex-direction: column;
   
}
.container-contact100 {
  width: 550px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(27, 86, 114, 0.205);
}
.contact100-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact100-form-title {
  display: block;
  font-family: marmelad, sans-serif;
  font-size: 30px;
  color: rgba(27, 86, 114, 0.877);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.wrap-input100 {
  align-items: center;
  justify-content: left;
  padding: 5px;
}

textarea.input100 {
  min-height: 109px;
  width: 210px;
  padding: 19px 35px 0 35px;
}

.contact100-form-btn {
  width: 150px;
}

.container-fluid {
  padding: 100px 50px;
  margin-bottom: 20px;
}

.reseñas-section {
  width: 700px;
  padding: 1rem 50px  160px;
  background-image: url(imagenesDiver/divingBanner.jpg);
  background-size: cover;
}
.reseña-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.reseña-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.reseña-card p {
  font-size: 1.1rem;
  color: #333;
}

.reseña-card span {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

.footer {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: rgba(27, 86, 114, 0.877);
}

.footer ul {
  display: flex;
  gap: 10px; 
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer ul li a {
  justify-content: center;
  text-decoration: none; 
  color: rgb(14, 8, 107); 
  font-size: 1rem; 
  transition: color 0.3s ease; /
}

.footer ul li a:hover {
  color: #ebeef0; 
}

@media (max-width: 992px) {
  .productos-container .card {
      flex: 1 1 calc(50% - 1rem); 
  }
}

@media (max-width: 576px) {
  .nav ul{
    justify-content: center;
  }
  
  .nav a {
    display: flex;
    text-decoration: none;
    color: rgb(14, 8, 107); 
    font-size: 1rem;
    transition: color 0.3s ease; 
  }


  .productos-container .card {
      flex: 1 1 100%; 
  }
  .footer {
    position: relative;
    height: auto;
    width: 100%;
  }

  .footer ul {
    flex-direction: column;
    gap: 10px;
   
  }

  .footer ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
}


@media (max-width: 768px) {
  .layout {
    gap: 10px;
  }
  
  #banner, #bannerContacto {
    height: auto;
    padding: 20px;
  }

  #banner h2 {
    font-size: 1.5em;
  }

  #banner h4 {
    font-size: 1.2em;
  }
  #myCarousel {
    padding: 5px 0;
  }

  .carousel-item {
    font-size: 0.9em;
    padding: 15px 10px;
    margin: 5px;
  }

  .carousel-item h4 {
    font-size: 1em;
  }

  .container-contact100, .wrap-contact100 {
    width: 100%;
    padding: 10px;
  }

  .footer {
    position: relative;
    height: auto;
    width: 100%;
  }

  .footer ul {
    flex-direction: column;
    gap: 10px;
  }

  

}
