@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Buda:wght@300&family=Contrail+One&family=Marmelad&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html { 
  font-size: 18px;
  font-family: marmelad, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: marmelad, sans-serif;
  background-color: rgba(255, 255, 255, 0.616);
}

.layout {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    "header" 
    "main" 
    "footer";
}
.header { 
  grid-area: header;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  margin: 5px;
  border-radius: 40px;
  background-color: rgba(27, 86, 114, 0.877);
  border: 2px double black;
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
}

.nav ul{
  justify-content: center;
}

.nav a {
  display: flex;
  text-decoration: none;
  color: rgb(14, 8, 107); 
  font-size: 1rem;
  transition: color 0.3s ease; 
}

.nav a:hover {
  color: #ebeef0; 
}

.main {
  grid-area: main; 
  width: 100%;
  height: auto;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
#banner {
  background-image: url('imagenesDiver/divingBanner.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius:40px;
}

#banner h2, 
#banner h5 {
  margin: 0;
}
.container {
  padding-top: 30px;
  height: 100%;
}
.card {
  width: 100px;
  height: 300px;
  padding-top: 5px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 3px;
}
.card img{
  padding: 5px;
  height: 150px;
  width: 150px;
}

.main .card-body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 6px; 
  text-align: center;
  
}
.productos-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 86, 114, 0.877);
  border-radius: 20px;
}

.productos-container .card {
  flex: 1 1 calc(33.33% - 1rem); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: rgba(27, 86, 114, 0.877);
  transition: transform 0.3s;
  margin: 1rem;
}

.productos-container .card:hover {
  transform: scale(1.05);
}

.productos-container .card img {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}


#bannerContacto{
  background-image: url('imagenesDiver/divingBanner.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  border-radius: 5px;
  margin-top: 25px;


}
.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 25px 0px 30px 0px;
  display: flex;
  flex-direction: column;
   
}
.container-contact100 {
  width: 550px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(27, 86, 114, 0.205);
}
.contact100-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact100-form-title {
  display: block;
  font-family: marmelad, sans-serif;
  font-size: 30px;
  color: rgba(27, 86, 114, 0.877);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.wrap-input100 {
  align-items: center;
  justify-content: left;
  padding: 5px;
}

textarea.input100 {
  min-height: 109px;
  width: 210px;
  padding: 19px 35px 0 35px;
}

.contact100-form-btn {
  width: 150px;
}

.container-fluid {
  padding: 100px 50px;
  margin-bottom: 20px;
}

.reseñas-section {
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url(imagenesDiver/divingBanner.jpg);
  background-position: center;
 
}
.reseñas-section h2{
  margin: 20px;
}

.reseña-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.reseña-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.reseña-card p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;

}

.reseña-card span {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

/*------------------footer----------------*/

.footerProductos {
  grid-area: footer;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgba(27, 86, 114, 0.877);
}
.footerProductos ul {
  display: flex;
  position: relative;
  gap: 10px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: rgba(27, 86, 114, 0.877);
  bottom: 0;
  position: absolute;
  margin-top: 0;
}

.footer ul {
  display: flex;
  gap: 10px; 
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer ul li a {
  justify-content: center;
  text-decoration: none; 
  color: rgb(14, 8, 107); 
  font-size: 1rem; 
  transition: color 0.3s ease; /
}

.footer ul li a:hover {
  color: #ebeef0; 
}

@media (max-width: 1024px) {
  body{
    height: 100vh;
  }
  .layout {
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
  }
  .header{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .navbar {
    margin-bottom: 5px;
    padding: 5px;
    height: auto;
    text-align: center;
  }
  .main {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }
}

  @media (max-width: 768px) {
    html {
      font-size: 16px;
    }
    body{
      height: 100vh;
    }  
    .layout {
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "header"
        "main"
        "footer";
    }
    .header {
      display: ruby;
      flex-direction: column;
      align-items: center;
    }  
  
  .navbar {
    margin-bottom: 5px;
    padding: 5px;
    height: auto;
    text-align: center;
  }

  .logo{
    display: flex;
    height: auto;
    width: auto;
  }

  .main {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  #banner,
  #bannerContacto {
      background-image: url('imagenesDiver/divingBanner.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 450px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 15px;
      margin-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius:40px;
  }

  .productos-container .card {
    flex: 1 1 100%; /* Ocupa todo el ancho */
  }

  .reseñas-section {
    padding: 10px;
    height: auto;
  }

  .reseña-card {
    margin: 10px auto;
    width: 90%;
  }

  .footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: colum;
    justify-content: center; 
    align-items: center;
    background-color: rgba(27, 86, 114, 0.877);
    bottom: 0;
    position: fixed;
    margin-top: 0;
  }

  .footer ul {
    flex-direction: row;
    gap: 5px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 16px;
  }

  body{
    height: 100vh;
  }

  .layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .header {
    grid-area: header;
    display: ruby;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
  }  

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  height: auto;
  text-align: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  height: auto;
  text-align: center;
  align-items: center;
}

.logo{
  display: flex;
  height: auto;
  width: auto;
}

.main {
  grid-area: main;
  display: flex;
  padding: 5px;
  flex-grow: 1;
  margin-bottom: 100px;
}


#banner {
  background-image: url('imagenesDiver/divingBanner.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:40px;
}


.footer {
  grid-area: footer;
  position: fixed;
  flex-direction: row;
  padding: 5px;
  height: auto;
}

.footer ul {
  flex-direction: row;
  gap: 5px;
}



}